
*.json
!*Template*.json

#output
turbSpec/
turbSpec_*
plot_*


#ide
.DS_Store
TD_Qvec_post_process.xcodeproj/project.xcworkspace/xcuserdata/
TD_Qvec_post_process.xcodeproj/xcshareddata/
/.build
#googletest
googletest-*
td_pp_tests
/Packages
/*.xcodeproj
#cmake
CMakeCache.txt
CMakeFiles/
Makefile
*.cmake

#exe
a.out
td_post_process_V4
q4_pp_V3
